.dataWorkshopw {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.tituloWorkshopw {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    /*
    border-radius: 6px;
    height: auto;
    max-height: 70px;
    */
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    padding: 15px;
}

.descri{
    color: black;
    font-size: 17px;
    font-style: italic;
    margin: 5px;
    max-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350px;
    height: 20px;
    overflow: hidden;
}

.cartaTw{
    width: 400px;
    height: auto;
    max-height: 500px;
}

.sdatetitlew {
    color: green;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.sdatew {
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
}

.edatetitlew {
    color: green;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.edatew {
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.kc_fab_main_btn{
    background-color:#1C2331;
    width:40px;
    height:40px;
    border-radius:100%;
    background:#1C2331;
    border:none;
    outline:none;
    color:#FFF;
    font-size:15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

