.personasWorkshop{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formP{
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    width: 400px;
    height: 493.44px;
    border-radius: 4px;
    padding-top: 0px;
}

.personas{
    height: 356px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    /*background: pink;*/
}

/* Tamaño del scroll */
.personas::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
    
    /* Estilos barra (thumb) de scroll */
.personas::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 4px;
}
    
.personas::-webkit-scrollbar-thumb:active {
    background-color: rgb(77, 76, 76);
}
    
.personas::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 76, 76);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
    
/* Estilos track de scroll */
.personas::-webkit-scrollbar-track {
    background: rgb(77, 76, 76);
    border-radius: 4px;
}
    
.personas::-webkit-scrollbar-track:hover, 
.personas::-webkit-scrollbar-track:active {
    background: rgb(77, 76, 76);
}

.iconoBusc{
    color: white;
}

.inputBuscar{
    background: #505050;
    color: white;
    height: 30px;
    border: 0;
    padding: 10px;
    text-underline-position: auto;
    width: 300px;
}

.subtituloT{
    color: rgb(119, 117, 117);
    font-size: 10px;
}

.subP{
    margin-top: 20px;
    color: white;
    font-size: 25px;
}

.barrabus{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 280px;
}
