
.dataWorkshop{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.tituloWorkshop{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    border-radius: 6px;
    padding: 15px;
}

.des{
    color: black;
    font-size: 17px;
    font-style: italic;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.sdatetitle{
    color: green;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.sdate{
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
}
.edatetitle{
    color: green;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.edate{
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}



