.workshopsworkshopsContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: stretch;
    flex-wrap: wrap;
}

.titulo{
    color: seashell;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Tahoma';
    font-size: 30px;
}

