.workshopsContainer {
    display: grid;
    height: 480px;
    grid-gap: 10rem;
    grid-template-columns: 120px 120px 120px 120px; 
    row-gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden ;
}

/* Tamaño del scroll */
.workshopsContainer::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
    
    /* Estilos barra (thumb) de scroll */
.workshopsContainer::-webkit-scrollbar-thumb {
    background: rgb(77, 76, 76);
    border-radius: 4px;
}
    
.workshopsContainer::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
    
.workshopsContainer::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
    
/* Estilos track de scroll */
.workshopsContainer::-webkit-scrollbar-track {
    background: #d4d4d4;
    border-radius: 4px;
}
    
.workshopsContainer::-webkit-scrollbar-track:hover, 
.workshopsContainer::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

.titulo{
    color: seashell;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Tahoma';
    font-size: 30px;
}

