.workshops {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: stretch;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 15px;
    min-width: 100%;
    flex-wrap: wrap;
    max-width: 100%;
}

.titulo{
    color: seashell;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Tahoma';
    font-size: 30px;
}

