.personaIn{
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20px;
}

/*.MuiList-padding {
    /* padding-top: 0; */
    /* padding-bottom: 0.5px; 
    height: 70px;
}*/

.inputPersonaS{
    color: rgb(170, 169, 169);
    font-size: 10px;
}

.inputPersona{
    color: rgb(209, 209, 209);
}
.inputPersona:nth-child(1){
    color: white;
}

.listaper{
    background-color: transparent;
    border-bottom: solid rgb(102, 101, 101) 0.5px;
}