.personaIn{
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputPersona{
    color: rgb(209, 209, 209);
}

.listaper{
    background-color: transparent;
    border-bottom: solid rgb(102, 101, 101) 0.5px;
}