
.tituloAC{
    width: 160px;
    height: 29px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Tamaño del scroll */
.tituloAC::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
    
    /* Estilos barra (thumb) de scroll */
.tituloAC::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 4px;
}
    
.tituloAC::-webkit-scrollbar-thumb:active {
    background-color: rgb(77, 76, 76);
}
    
.tituloAC::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
    
/* Estilos track de scroll */
.tituloAC::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}
    
.tituloAC::-webkit-scrollbar-track:active {
    background:rgb(77, 76, 76);
}

.tituloAC::-webkit-scrollbar-track:hover{
    background: transparent;
} 

.tituloCard{
    display: grid;
    grid-template-columns: 150px 35px;
    grid-column-gap: 20px;
}

.des{
    height: 54px;
    overflow-y: scroll;
    overflow-x: hidden;
    /*background-color: lavender;*/
}

/* Tamaño del scroll */
.des::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
    
    /* Estilos barra (thumb) de scroll */
.des::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 4px;
}
    
.des::-webkit-scrollbar-thumb:active {
    background-color: rgb(77, 76, 76);
}
    
.des::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 76, 76);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
    
/* Estilos track de scroll */
.des::-webkit-scrollbar-track {
    background: rgb(77, 76, 76);
    border-radius: 4px;
}
    
.des::-webkit-scrollbar-track:hover, 
.des::-webkit-scrollbar-track:active {
    background: rgb(77, 76, 76);
}


.associationClubBox{
    width: 50rem;
    margin: 15px;
}

.workshop--clicked{
    transform: scale(0.9);
}

.subtitulo{
    color:white;
    margin-bottom: 0px;
    padding: 5px;
    margin:0;
    margin-top: 5px;
    margin-left: 15px;
    font-family: 'Tahoma';
}

.contenido{
    color:white;
    margin:0;
    margin-left: 40px;
    font-family: 'Tahoma';
    margin-bottom: 2px;
    margin-top: 10px;
}
.workshop_name{
    font-size: 10px;
    margin-top: -30px;
}

.delete_workshop {
    background: black;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    height: 25px;
    width: 25px;
    border-style: none;
    margin-top: 0px;
    align-self: flex-end;
    margin-bottom: 20px;
}

.more_button{
    margin-left: 125px;
    border-style: none;
    border-radius: 3px;
    background-color: green;
    color: white;
    margin-top: 10px;
    height: 30px;
}

.iconoedit{
    color: white;
}

.edit_button{
    border: none;
    color: initial;
    border-color: initial;
}
