
.dataEvent{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.tituloEvent{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    border-radius: 6px;
    padding: 15px;
    height: auto;
    max-height: 70px;
}

.descr{
    color: black;
    font-size: 17px;
    font-style: italic;
    margin: 5px;
    height: auto;
    max-height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.cartaE{
    width: 400px;
    height: auto;
    max-height: 400px;
}

.sdatetitle{
    color: green;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.sdate{
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
}

.edatetitle{
    color: green;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.edate{
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}



