
.dataEvent{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.tituloEvent{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    border-radius: 6px;
    padding: 15px;
    height: auto;
    max-height: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.descr{
    color: black;
    font-size: 17px;
    font-style: italic;
    margin: 5px;
    height: auto;
    max-height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Tamaño del scroll */
.descr::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
    
    /* Estilos barra (thumb) de scroll */
.descr::-webkit-scrollbar-thumb {
    background: #a7a6a6;
    border-radius: 4px;
}
    
.descr::-webkit-scrollbar-thumb:active {
    background-color: rgb(172, 169, 169);
}
    
.descr::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 217, 217);
}
    
/* Estilos track de scroll */
.descr::-webkit-scrollbar-track {
    background: rgb(218, 217, 217);
    border-radius: 4px;
}
    
.descr::-webkit-scrollbar-track:active {
    background:rgb(218, 217, 217);
}

.descr::-webkit-scrollbar-track:hover{
    background: rgb(218, 217, 217);
} 

/* Estilos barra (thumb) de scroll */
.tituloEvent::-webkit-scrollbar-thumb {
    background: #a7a6a6;
    border-radius: 4px;
}
    
.tituloEvent::-webkit-scrollbar-thumb:active {
    background-color: rgb(172, 169, 169);
}
    
.tituloEvent::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 217, 217);
}
    
/* Estilos track de scroll */
.tituloEvent::-webkit-scrollbar-track {
    background: rgb(218, 217, 217);
    border-radius: 4px;
}
    
.tituloEvent::-webkit-scrollbar-track:active {
    background:rgb(218, 217, 217);
}

.tituloEvent::-webkit-scrollbar-track:hover{
    background: rgb(218, 217, 217);
}

/* Tamaño del scroll */
.tituloEvent::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.cartaE{
    width: 400px;
    height: auto;
    max-height: 400px;
}

.sdatetitle{
    color: green;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.sdate{
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
}
.edatetitle{
    color: green;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.edate{
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}



