body{
    height: 100%;
}

body.modal-open{
    background-color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: red;
    color: white;
    text-align: center;*/
}

.bghome {
    background-image: url(induccion.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
}

.CarouselDiv{
    height: 375px;
    width: 1200px;
    align-self: center;
    align-content: center;
    margin-left: 35px;
}