body, html {
    background: rgb(177, 168, 168);
    background-size: 100%;
    justify-content: center;
    align-items: center;
}

.auth-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boton{
    display: block;
    top: 20px;
    width: 200px;
}
