body {
    /*background-image: url(uvg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*.image_container {
    background-image: url(uvg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 1000px;
}
*/

.bg {
    background-image: url(uvg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.marca{
    color: white;
    font-size: 10px;
    margin-left: 90%;
    margin-top: 10px;
}

img {
    margin-top: 10px;
    margin-left: 10px;
    width: 90px;
    height: 90px;
}

.logo{
    width: 150px;
    height: 35px;
    margin: 20px;
}
.auth-container {
    margin-top: 10px;
    display: flex;
    display: grid;
    grid-template-columns: 350px 500px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}

.input_{
    width: 200px;
    left: 20px;
}

.centro {
    align-items: center;
    justify-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: red;
    color: white;
    text-align: center;*/
}