.titulo{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
}
.contenedor{
    background: linear-gradient(200deg, rgb(42,200,72) 0%, rgb(7, 107, 50) 75%);
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 87% 13% 100% 0% / 0% 89% 11% 100% ;
}

.formulario{
    width: 475px;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.input{
    width: 200px;
    height: 55px;
    text-align: left;
}

.boton{
    display: block;
    top: 15px;
    width: 200px;
}
