.addWorkshop{
    /*height: auto;
    margin-top: 0rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0px;*/
    margin-top: 10px;
    background-color: violet;
    display: grid;
    grid-template-columns: 300px 500px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}