.addWorkshop{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    background-color: #0a4a0a;
}

#visor_imagenes {
    text-align: center;
  }
  
  .blanco-rojo {
    background-color: white;
    color: white !important;
  }
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: red;
    color: white;
    text-align: center;*/
}

.bgaw {
    background-image: url(marimba.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}