.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: red;
    color: white;
    text-align: center;*/
}

.title {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    background-color: #0a4a0a;
}

#visor_imagenes {
  text-align: center;
}

.blanco-rojo {
  background-color: white;
}


.bgeac {
    background-image: url(guitarra.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}