.workshop-wrapper {
    display: flex;
    flex-direction: row;
    height: 200px;
    transition: 0.25s;
}

.titulotallers{
    /*
    width: 160px; 
    height: 29px;
    */
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.tituloCards{
    display: grid;
    grid-template-columns: 150px 35px;
    grid-column-gap: 20px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.dess{
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*
    background-color: lavender;
    white-space: nowrap;
    */
}

.workshopBoxs{
    width: 15rem;
    /*margin: 15px;*/
}

.workshop--clicked{
    transform: scale(0.9);
}

.subtitulo{
    color:white;
    margin-bottom: 0px;
    padding: 5px;
    margin:0;
    margin-top: 5px;
    margin-left: 15px;
    font-family: 'Tahoma';
}

.contenido{
    color:white;
    margin:0;
    margin-left: 40px;
    font-family: 'Tahoma';
    margin-bottom: 2px;
    margin-top: 10px;
}

.workshop_name{
    font-size: 10px;
    margin-top: -30px;
}

.delete_workshop {
    background: black;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    height: 25px;
    width: 25px;
    border-style: none;
    margin-top: 0px;
    align-self: flex-end;
    margin-bottom: 20px;
}

.more_buttons{
    /*
    margin-left: 125px;
    margin-top: 10px;
    */
    border-style: none;
    border-radius: 3px;
    background-color: green;
    color: white;
    height: 30px;
}

.iconoedit{
    color: white;
}

.edit_button{
    border: none;
    color: initial;
    border-color: initial;
}
